{% extends 'base.html' %}
{% block title %}Start a New Topic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards:home' %}" class="btn btn-primary" >Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'boards:board_topics' board.pk %}" class="btn btn-primary" >{{ board.name }}</a></li>
  <li class="breadcrumb-item active" ><a class="btn btn-primary" style="color: white;"> New topic </a></li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success">Add</button>
  </form>
{% endblock %}